<h1>Hello Rails</h1>
<ul>
    <li><%= link_to 'My Blog', controller: 'articles' %></li>
    <!--
    Also works:
    <li><%= link_to 'My Blog Link 2', articles_path %></li>
    -->
    <li><%= link_to 'New Post', new_article_path %></li>
<ul>